@page "/"

<h1>Hello,</h1>

<p>This is a Server Side Blazor Example, Hosted as a Free Tier on Azure which is hosted in West-Europe (The Netherlands).</p>

<SurveyPrompt Title="How is Blazor working for you?" />
